@font-face {
  font-family: 'Playfair Display';
  src: url('../public/fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
      url('../public/fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../public/fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
      url('../public/fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Alata';
  src: url('../public/fonts/Alata-Regular.woff2') format('woff2'),
      url('../public/fonts/Alata-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* Custom */
body {
  @apply font-sans antialiased bg-peach-light text-green;
}
  
.content > p {
  @apply mb-5;

  &:last-of-type {
    @apply mb-0;
  }
}

h1, h2, h3, h4, h5, h6 {
  @apply p-0 mb-6 font-display font-bold;
}
  
h1 {
  @apply text-4xl;
}
  
h2 {
  @apply text-3xl;
}