@font-face {
  font-family: 'Playfair Display';
  src: url('../public/fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
      url('../public/fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../public/fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
      url('../public/fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Alata';
  src: url('../public/fonts/Alata-Regular.woff2') format('woff2'),
      url('../public/fonts/Alata-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* Custom */

::-moz-selection { /* Code for Firefox */
  @apply text-white bg-orange;
}

::selection {
  @apply text-white bg-orange;
}


body {
  @apply font-sans antialiased bg-peach-light text-green;
}
  
/* Headings */

h1, h2, h3, h4, h5, h6 {
  @apply p-0 mb-6 font-bold font-display;
}
  
h1 {
  @apply text-4xl;
}
  
h2 {
  @apply text-3xl;
}

/* nav active state */
.navItem {
  @apply relative transition-all duration-200;
}

.navItem:hover:after {
  @apply bg-green-light;
}

.navItem:after {
  content: '';
  width: 4px;
  height: 4px;
  left: 50%;
  transform: translateX(-50%);
  @apply absolute bottom-0 -mb-2 transition-all duration-200 rounded-full;
}

.navActive:after,
.navActive:hover:after {
  @apply bg-orange;  
}

  

/* Buckets */
.bucket a {
  @apply relative transition-all duration-200;

  &:after {
    content: '';
    @apply absolute bottom-0 w-full h-1 -mb-3 transition-all duration-200 bg-pink;    
  }

  &:hover:after {
    @apply -mb-2;
  }
}

/* Content */
.content {
  
  p {
    @apply mb-5;
  }

  p:last-of-type {
    @apply mb-0;
  }

  a {
    @apply relative text-orange;
  }

  a:hover {
    @apply text-orange-dark;
  }

  a:after {
    content: '';
    @apply absolute bottom-0 left-0 w-full -mb-2 transition-all duration-200 bg-orange-dark;
    height: 2px;
  }

  a:hover:after {
    @apply -mb-1;
  }

  p + ul {
    @apply mt-5;
  }

  ul {
    @apply mb-5;
  }

  li {
    @apply relative pl-4 mb-5;
  }

  li:before {
    content: '';
    @apply absolute left-0 w-3 h-3;
    top: 52%;
    transform: translateY(-50%);
    background: url('/icons/icon-chevron-right.svg') left center;
  }
}

/* Forms */
form {
  @apply py-6;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="url"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="search"],
input[type="tel"],
input[type="checkbox"],
input[type="radio"],
select,
select[multiple],
textarea {
  @apply w-full border-gray-400 rounded shadow-sm;
}

textarea {
  @apply h-32;
}